<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <% include ./partial/bootstrap %>
    <script src="main.js"></script>
</head>

<body>

    <div class="container">
        <h2>Add Subject To Student</h2>
 
        <table class="table table-striped">
            <tr>
                <th>First Name</th>
                <td>
                    <%= student.first_name %>
                </td>
            </tr>
            <tr>
                <th>Last Name</th>
                <td>
                    <%= student.last_name %>
                </td>
            </tr>
            <tr>
                <th>Email</th>
                <td>
                    <%= student.email %>
                </td>
            </tr>
        </table>

        <form action="/students/<%=student.id %>/add-subject" method="POST">
        <div class="form-group">
            <label>Choose Subject</label>
            <select class="form-control" id="sel1" name="SubjectId">
                <% subjects.forEach( subject => { %>
                    <option value="<%= subject.id %>"><%= subject.subject_name %></option>
                <% }) %>
            </select>
        </div>
        <button type="submit" class="btn btn-default">Add Subject</button>
        </form>

    </div>


</body>

</html>