

 <thead>
    <tr>
        <th>id</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
        <th>action</th>
        <th>Option</th>
    </tr>
  </thead>
  <tbody>
      <% allData.forEach( person => { %>
    <tr>
        <td><%= person.id %></td>
        <td><%= person.first_name %></td>
        <td><%= person.last_name %></td>
        <td><%= person.email %></td>
        <td><a href="/students/<%= person.id %>/add-subject">add subject</a></td>
        <td><a href="/<%= name %>/edit/<%= person.id %>">Edit</a> | <a href="/<%= name %>/delete/<%= person.id %>" onclick="return confirm('delete this student ?')">Delete</a></td>
    </tr>
    <% }) %>
  </tbody>